<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" crossorigin src="/assets/index-DiMfd-VX.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-B6TeGQzJ.css">
</head>

<body class="bg-slate-100">
  <p id="storyTitle" class="mx-auto text-center w-4/5 pt-4 font-bold italic text-2xl"><%= story.title %></p>
  <div id="story" class="grid grid-cols-1 gap-4 lg:grid-cols-2 invisible">
    <div class="mx-auto pt-4 px-2">
      <% story.panels.forEach(function(panel) { %>
      <img id="img<%= panel.part %>" class="storyImage mx-auto max-h-[500px] rounded-lg hidden" src="<%= panel.image %>">
      <% }) %>
      <img class="mx-auto max-h-[500px] rounded-lg" src="">
    </div>

    <div class="px-8 pt-8 lg:pt-0">
      <% story.panels.forEach(function(panel) { %>
      <p id="text<%= panel.part %>" class="storyText text-center italic font-light lg:font-extralight lg:text-4xl lg:mt-[250px] mx-auto hidden"><%= panel.text %></p>
      <% }) %>
      <p id="textPanel" class="text-center italic font-light lg:font-extralight lg:text-4xl lg:mt-[250px] mx-auto"></p>
    </div>
  </div>
  <canvas id="keys"
    class="mx-auto w-screen h-screen fixed overflow-hidden bottom-[-26%] lg:bottom-[-10%] invisible"></canvas>
  <script type="module">
    let current = 0;
    function setPanel() {
      const images = document.querySelectorAll('.storyImage')
      images.forEach((img) => img.classList.add('hidden'));
      const image = document.querySelector(`#img${current}`);
      image.classList.remove('hidden');

      const texts = document.querySelectorAll('.storyText')
      texts.forEach((t) => t.classList.add('hidden'));
      const txt = document.querySelector(`#text${current}`);
      txt.classList.remove('hidden');
    }
    setPanel();

    //TODO: do something on last?
    function advance() {
      if (current !== (document.querySelectorAll('.storyImage').length - 1)) {
        current++;
        setPanel();
      }
    }

    function goBack() {
      if (current !== 0) {
        current--;
        setPanel();
      }
    }

    function handleNext(event) {
      advance();
    }
    function handlePrev(event) {
      goBack();
    }

    // Add an event listener to listen for the custom event
    document.addEventListener('nextImage', handleNext);
    document.addEventListener('prevImage', handlePrev);
  </script>
</body>

</html>
